@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --pure: #000;
    --main: #111;
    --font: #fff;
    --secm: #222;
    --icon: 0;
}

* {
    background-color: var(--pure);
    color: var(--font) !important;
}

button {
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    font-size: 18px;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 15px;
    font-size: 18px;
    text-align: center;
}

.hide {
    display: none;
}

.h2 {
    font-size: 24px;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 4px;
    padding: 0px;
}

input {
    display: inline;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center !important;
    padding: 5px;
}

.list {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid var(--secm);
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 3px;
}

#menubar {
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: var(--main);
    padding: 6px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    flex-grow: 1;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 7px;
    background-color: var(--main);
}

.tnav {
    background-color: var(--main);
    display: flex;
}

#journalarea {
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 3px solid var(--secm);
    font-size: 16px;
    padding: 4px;
    resize: both;
}

.b1 {
    padding: 6px;
    margin-bottom: 6px;
}

.icon {
    border: none;
    width: 40px;
    height: 40px;
    background-color: var(--main);
    vertical-align: middle;
    cursor: pointer;
    filter: invert(var(--icon));
}

.smic {
    vertical-align: middle;
    filter: invert(var(--icon));
}

.box {
    padding: 6px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 10px;
}

img {
    background-color: transparent !important;
}