@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    background-color: #000;
    color: #fff !important;
}

button {
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    cursor: pointer;
    font-size: 18px;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 15px;
    font-size: 18px;
    text-align: center;
}

.hide {
    display: none;
}

.h2 {
    font-size: 24px;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 4px;
    padding: 0px;
}

input {
    display: inline;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 20px;
    padding: 5px;
}

.list {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #222222;
    border-radius: 10px;
    margin-bottom: 3px;
}

#menubar {
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #111111;
    padding: 6px;
    margin-bottom: 4px;
    text-align: left;
}

#journalarea {
    width: 100%;
    min-width: 100% !important;
    max-width: 100% !important;
    box-sizing: border-box;
    border-radius: 8px;
    border: 2px solid #191919;
    font-size: 14px;
    padding: 4px;
}

.b1 {
    padding: 6px;
    margin-bottom: 6px;
}

.icon {
    border: none;
    width: 40px;
    height: 40px;
    background-color: #111111;
    vertical-align: middle;
    cursor: pointer;
}